/* Modal */
html {
    position: relative;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
h1 {
    color: grey;
    font-size: 2rem;
    text-align: center;
}
input {
    width: 50%;
    height: 2rem;
}
.hidden {
display: none;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    }
    .modal {
        width: 375px;
        margin: 15% auto auto;
        position: relative;
        text-align: center;
        background: #fff;
        border: 1px solid #778;
        border-radius: 5px;
        padding: 30px 20px;
        z-index: 1;
        
        }
        .modal-close {
            position: absolute;
            right: 15px;
            top: 5px;
            cursor: pointer;
            background: none;
            border: none;
            }
            /* modal buttons */
            .prev,
            .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              width: auto;
              padding: 16px;
              margin-top: -50px;
              color: white;
              font-weight: bold;
              font-size: 36px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
              -webkit-user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
  
            
            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

/* Layout/Mobile/Main Styles */
body {
background-color: whitesmoke;

width: 100%;
margin: 0 auto;
}
main {
 width: 100%;
}

.card {
 width: 90%;
 display: flex;
 align-items: center;
 margin: .5em; 
 background-color: white;
 border: solid 2px lightgrey;
 flex: 1 1 0;
}

.avatar {
    border-radius: 50%;
    padding: .5em;
    height: 5em;
    width: 5em;
   
}

.text-container{
padding-left: 1em;
flex-wrap: wrap;

}

h2 {
    margin: .2em 0;
   
}
.email {
    margin: .2em 0;
    color: grey;
    font-size: .8em;
    
    
}
.address {
    margin: .2em 0;
    color: grey;
  
}

/* Med Queries */

@media (min-width: 768px) {
    .grid-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;    
    }
	.card {
        width:  40%;
        padding: 1em;
    }


header {
    display: flex;
    flex-direction: row;
}
}
/* Desktop View */

@media (min-width: 1024px) {
	.card {
        width: 25%;
    }
}
body {
    max-width: 1280px;
}