/* Modal */
.hidden {
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
    }
    .modal {
        width: 375px;
        margin: 15% auto auto;
        position: relative;
        text-align: center;
        background: #fff;
        border: 1px solid #778;
        border-radius: 5px;
        padding: 30px 20px;
        }
        .modal-close {
            position: absolute;
            right: 15px;
            top: 5px;
            cursor: pointer;
            }


/* Layout/Mobile/Main Styles */
body {
background-color: whitesmoke;
margin: 0 auto;
position: relative;
}
main {
 width: 100%;
}

.card {
 width: 90%;
 margin: 0 auto;
 display: flex;
 align-items: center;
 margin: 1em;
 background-color: white;
 border: solid 2px lightgrey;
}

.avatar {
    border-radius: 50%;
    padding: .5em;
    height: 7em;
    width: 7em;
}

.text-container{
padding-left: 1em;
}
h2 {
    margin: .2em 0;
}
.email {
    margin: .2em 0;
    color: grey;
}
.address {
    margin: .2em 0;
    color: grey;
}

/* Med Queries */

@media (min-width: 768px) {
    .grid-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;    
    }
	.card {
        width:  40%;
        padding: 1em;
    }
}


/* Desktop View */

@media (min-width: 1024px) {
	.card {
        width: 28%;
    }
}
body {
    max-width: 1280px;
}